@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif !important;
    margin: 0;
    padding: 0;
}

.cl-internal-1dauvpw,
.cl-internal-1hp5nqm {
    display: none !important;
}

.cl-cardBox {
    border-radius: 4px !important;
}

.font-bold {
    font-weight: 900 !important;
}