@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif !important;
}

.cl-internal-1dauvpw,
.cl-internal-1hp5nqm {
    display: none !important;
}

.cl-cardBox {
    border-radius: 4px !important;
}